@page
@model Domain_Name_Ownership_Core_Web.Pages.Owners.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Owners</h1>

<p>
    <a class="btn btn-primary rounded-pill" asp-page="Create">Add Owner</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Owner[0].OwnerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner[0].ContactPhone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Owner) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactPhone)
            </td>
            <td>
                <a class="btn btn-primary rounded-pill" asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-primary  rounded-pill" asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-primary  rounded-pill" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
